.page-wrapper {
  position: relative;
}

.post-slider {
  position: relative;
  overflow: hidden;
}

.post-slider .silder-title {
  text-align: center;
}

.post-slider .next {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -72px;
  width: 72px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: contain;
  background-image: url(../images/slidebutton.png);
  cursor: pointer;
}

.post-slider .prev {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -72px;
  width: 72px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: contain;
  background-image: url(../images/slidebutton.png);
  cursor: pointer;
  transform: rotateY(-180deg);
}

.post-slider .post-wrapper {
  overflow: hidden;
  margin-right: -1%;
}

.post-slider .post-wrapper .post {
  display: inline-block;
 margin-right: -0%; 
}

.slider-image {
  margin-bottom: 30px;
}

.slider-image,
.slider-text {
  margin-right: 10px;
}

.post-slider .post-wrapper .post img {
  width: 100%;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.slide-contents {
  text-align: center;
}

.slide-wrap {
  padding: 0 20%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev::after, .swiper-button-next::after{
  color: rgba(255,255,255,0.7);
}

@media (max-width: 768px) {
  .slide-wrap {
    padding: 0 8%;
  }

  .post-slider .prev,
  .post-slider .next {
    width: 36px;
    height: 36px;
  }
}