* {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb90 {
  margin-bottom: 90px;
}

.wrap {
  font-family: "Lato", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.main {
  display: none;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  font-family: "Lato", sans-serif;
}

.products {
  display: flex;
  padding-top: 100px;
}

.view-product {
  margin-right: 2%;
}

.view-product,
.product-list {
  width: 50%;
  justify-content: center;
}

.view-product img {
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.8em;
  font-weight: 900;
}

.product-title strong,
.product-title em {
  display: block;
}

.products-contents {
  /* overflow: hidden; */
  margin: -1%;
}

.products-contents ul {
  width: 100%;
  /* margin: 1%; */
}

.products-contents ul li {
  float: left;
  /* padding: 1.5%; */
  width: 33.333%;
}

.products-contents ul li div {
  width: auto;
  padding: 3%;
}

.products-contents ul li div img {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.products-contents ul li div img:hover {
  transition: 0.5s ease;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);
}

.preorder {}

.announce {
  padding-top: 30px;
  font-size: 0.9em
}

.preorder-period {
  background-color: #f3f3f2;
}

.preorder-period,
.corona19-announcement,
.order-announcement {
  padding: 2%;
}

.preorder-period div {
  float: left;
}

.period {
  width: 30%;
}

.delivery-scheduled {
  width: 70%;
}

.preorder-period div em {
  font-weight: 600;
}

.preorder-period div strong {
  margin-left: 10px;
}

.corona19-announcement {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}

.corona19-title,
.corona19-contents {
  float: left;
}

.corona19-title {
  width: 30%;
  font-size: 1.3em;
  line-height: 40px;
}

.corona19-contents {
  width: 70%;
}

.corona19-contents p:first-child {
  margin-bottom: 6px;
}

.order-announcement {
  border: 1px dashed #d1d1d1;
}

.order-announcement .order-info,
.order-announcement .delivery-info {
  float: left;
  width: 50%;
}

.order-announcement h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.order-info-contents,
.delivery-info-contents {
  margin-right: 30px;
}

.order-info-contents p,
.delivery-info-contents p {
  position: relative;
  margin-bottom: 6px;
  margin-left: 10px;
}

.order-info-contents p:before,
.delivery-info-contents p:before {
  position: absolute;
  top: 0px;
  left: -10px;
  display: block;
  content: '-';
}

.discount-event {
  max-width: 100%;
  background-color: #dadbdc;
}

.event-bg {
  min-width: 100%;
}

.event-contents {
  margin: 0 auto;
  max-width: 1200px;
}

.event-text,
.event-bg-image {
  float: left;
  width: 50%;
}

.event-bg-image {

  padding-bottom: 50%;
  background-size: cover;
  background-image: url(../images/event-bg-image.jpg);
}

.description {
  padding: 90px 0;
  text-align: center;
}

.description-item {
  width: 100%;
  padding-bottom: 61%;
  background-size: cover;
  background-image: url(../images/description-item.jpg);
}

.collection-wrap {
  /* overflow: hidden; */
}

.collection {
  padding: 90px 0;
}

.collection-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.6em;
  font-weight: 600;
}

.collection-title strong,
.collection-title small {
  display: block;
}

.collection-title strong {
  margin-bottom: 10px;
  font-size: 1.6em;
  font-weight: 600;
}

.collection-title small {
  font-size: 1em;
}

.collection-item {
  margin: -0.4% -0.4% 90px;
}

.collection-item ul {
  margin-bottom: 60px;
}

.collection-item ul li {
  float: left;
  width: 25%;

}

.collection-item ul li div {
  padding: 2%;
}

.collection-item ul li img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.collection-item ul li img:hover {
  transition: 0.5s ease;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);

}

.collection-item-info {
  margin-top: 20px;
}

.collection-item-wrap .collection-item-info,
.collection-item-wrap .collection-item-title {
  padding: 0;
}

.collection-item-title > small {
  display: block;
  padding-top: 10px;
  width: 100%;
  font-size: 0.9em;
}

.collection-item .more {
  display: block;
  width: 100%;
  text-align: center;
}

.collection-item .more button:hover {
  transition: 0.4s ease;
  color: #fff;
  background-color: #000;
}

.collection-item .more button {
  display: inline-block;
  padding: 20px 80px;
  border: 1px solid #000;
}

#movie .bg-video-wrap {
  float: none;
  clear: both;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 43.25%;
  padding-top: 25px;
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tabmenu nav {
  margin-bottom: 30px;
}

.tabmenu li,
.tabmenu .content div {
  cursor: pointer;
}

.tabmenu .content div {
  transition: 0.3s;
}

.tabmenu .content div:hover {
  transition: 0.5s ease;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);
}

.tabmenu li.active {
  border: 1px solid #ccc;
  border-bottom: none;
}

.tabmenu .content {
  display: none;
  opacity: 0;
  
  
  -webkit-animation: display-none-transition 1s ease;
  animation: display-none-transition 1s ease;
}

@keyframes display-none-transition {
  0% {
    display: none;
    opacity: 0;
  }
  
  1% {
    display: block;
  }
  
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes display-none-transition {
  0% {
    display: none;
    opacity: 0;
  }
  
  1% {
    display: block;
  }
  
  100% {
    opacity: 1;
  }
}

.content-section .active {
  display: flex;
  opacity: 1;
}

.content-section > div {
  width: 100%;
}

.content-section > div > div {
  justify-content: center;
  margin-right: 1%;
  width: 25%;
}

.content-section .tab-shoes {
  margin-right: 0;
}

.content-section > div > div:last-child {
  margin-right: 0;
} 

.content-section > div > div > img {
  width: 100%;
}

.tabmenu ul {
  display: flex;
  padding: 0;
  
}

.tabmenu li {
  margin-right: 1%;
  padding: 20px 0;
  justify-content: center;
  width: 25%;
  text-align: center;
  font-weight: 600;
  color: #d1d1d1;
  background-color: #fff;
  border: 1px solid #d1d1d1;
}

.tabmenu li:last-child {
  margin-right: 0;
}

.tabmenu li.active {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}



@media (max-width: 576px) {}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

/* 
@media (max-width: 1100px) {

} */