* {
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb90 {
  margin-bottom: 90px;
}

.wrap {
  font-family: "Lato", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.main {
  display: none;
}

.display-none {
  display: none;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  font-family: "Lato", sans-serif;
}

.products {
  display: flex;
  padding-top: 100px;
}

.view-product {
  margin-right: 2%;
}

.view-product,
.product-list {
  width: 50%;
  justify-content: center;
}

.view-product img {
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.8em;
  font-weight: 900;
}

.product-title strong,
.product-title em {
  display: block;
}

.products-contents {
  /* overflow: hidden; */
  margin: -1%;
}

.products-contents ul {
  width: 100%;
  /* margin: 1%; */
}

.products-contents ul li {
  float: left;
  /* padding: 1.5%; */
  width: 33.333%;
}

.products-contents ul li div {
  width: auto;
  padding: 3%;
}

.products-contents ul li div img {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.products-contents ul li div img:hover {
  transition: 0.5s ease;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);
}

.preorder {
  font-size: 0.9em;
}

.preorder button {
  padding: 5px 0;
  width: 100%;
}

.kakao-color {
  color: #3A1D1D;
  background-color: #F7E600;
  border-radius: 50px;
}

.table {
  display: table;
  margin: 0 auto;
}

.kakao-talk {
display: table-cell;
  width: 32px;
  height: 32px;
  background-size: cover;
background-image: url("https://dcode-prod-bucket.s3.ap-northeast-2.amazonaws.com/common/images/icKakao@3x.png");
}

.preorder-notify button em {
  width: 100%;
  margin-left: 5px;
  line-height: 32px;
}

.preorder-participate {
  background-color: #28d28e;
  border-radius: 50px;
}

.preorder-participate button {
  height: 42px;
  line-height: 32px;
  color: #fff;
}

.preorder-participate em {
  display: table-cell;
}

.preorder-participate em strong {
  margin-right: 5px;
}

.preorder-participate span {
  display: table-cell;
  margin-left: 5px;
  width: 22px;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/src/images/participate.png);
}

.preorder-close .w50 {
  float: left;
  width: 49.5%;
}

.preorder-close-button {
  margin-right: 1%;
}

.preorder-close-button button {
  line-height: 32px;
  color: #d1d1d1;
  border: 1px dashed #d1d1d1;
  border-radius: 50px;
  cursor: auto;
}

.preorder-close em {
  display: table-cell;
  vertical-align: middle;
}

.preorder-close em strong {
  margin-left: 5px;
}

.announce {
  padding-top: 30px;
  font-size: 0.9em
}

.preorder-period {
  background-color: #f3f3f2;
}

.preorder-period,
.corona19-announcement,
.order-announcement {
  padding: 2%;
}

.preorder-period div {
  float: left;
}

.period {
  width: 30%;
}

.delivery-scheduled {
  width: 70%;
}

.preorder-period div em {
  font-weight: 600;
}

.preorder-period div strong {
  margin-left: 10px;
}

.corona19-announcement {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}

.corona19-title,
.corona19-contents {
  float: left;
}

.corona19-title {
  width: 30%;
  font-size: 1.3em;
  line-height: 40px;
}

.corona19-contents {
  width: 70%;
}

.corona19-contents p:first-child {
  margin-bottom: 6px;
}

.order-announcement {
  border: 1px dashed #d1d1d1;
}

.order-announcement .order-info,
.order-announcement .delivery-info {
  float: left;
  width: 50%;
}

.order-announcement h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.order-info-contents,
.delivery-info-contents {
  margin-right: 30px;
}

.order-info-contents p,
.delivery-info-contents p {
  position: relative;
  margin-bottom: 6px;
  margin-left: 10px;
}

.order-info-contents p:before,
.delivery-info-contents p:before {
  position: absolute;
  top: 0px;
  left: -10px;
  display: block;
  content: '-';
}

.discount-event {
  max-width: 100%;
  background-color: #dadbdc;
}

.event-bg {
  min-width: 100%;
}

.event-contents {
  margin: 0 auto;
  max-width: 1200px;
}

.event-text,
.event-bg-image {
  float: left;
  width: 50%;
}

.event-text {
  padding: 8% 0;
}

.discount-contents strong,
.discount-contents em {
  display: block;
  font-size: 1.6em;
  line-height: 1.5;
}

.discount-percentage {
  display: flex;
  font-size: 4em;
  overflow: hidden;
  margin: 70px 0 130px;
}

.percentage-text {
  animation-delay: 2s;
  animation: percentage 2s;
  
  
}

@keyframes percentage {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.event-label span {
  padding: 10px 20px;
}

.evt-label01 {
  color: #fff;
  background-color: #000;
}

.evt-label02 {
  color: #fff;
  background-color: #5124f8;
}

.event-bg-image {

  padding-bottom: 50%;
  background-size: cover;
  background-image: url(../images/event-bg-image.jpg);
}

.description {
  padding: 90px 0;
  text-align: center;
}

.description-item {
  width: 100%;
  padding-bottom: 61%;
  background-size: cover;
  background-image: url(../images/description-item.jpg);
}

.collection-wrap {
  /* overflow: hidden; */
}

.collection {
  padding: 90px 0;
}

.collection-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.6em;
  font-weight: 600;
}

.collection-title strong,
.collection-title small {
  display: block;
}

.collection-title strong {
  margin-bottom: 10px;
  font-size: 1.6em;
  font-weight: 600;
}

.collection-title small {
  font-size: 1em;
}

.collection-item {
  margin: -0.4% -0.4% 90px;
}

.collection-item ul {
  margin-bottom: 60px;
}

.collection-item ul li {
  float: left;
  width: 25%;

}

.collection-item ul li div {
  padding: 2%;
}

.collection-item ul li img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.collection-item ul li img:hover {
  transition: 0.5s ease;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);

}

.collection-item-info {
  margin-top: 20px;
}

.collection-item-wrap {
  position: relative;
}

.collection-item-wrap .comingsoon-shadow {
  display: none;
  z-index: 1;
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  width: 93%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.6);
}

.collection-item-wrap .comingsoon-shadow span {
  display: inline-block;
  width: 37%;
  margin: 50% 26%;
  padding: 10px 15px;
  color: #fff;
  background-color: #000;
}

.collection-item-wrap .close-shadow {
  display: none;
  z-index: 1;
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  width: 93%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.6);
}

.collection-item-wrap .close-shadow span {
  display: inline-block;
    width: 19%;
    margin: 50% 34%;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
}


.collection-item-wrap .collection-item-info,
.collection-item-wrap .collection-item-title {
  padding: 0;
}

.collection-item-title > small {
  display: block;
  padding-top: 10px;
  width: 100%;
  font-size: 0.9em;
}

.collection-item .more {
  display: block;
  width: 100%;
  text-align: center;
}

.collection-item .more button:hover {
  transition: 0.4s ease;
  color: #fff;
  background-color: #000;
}

.collection-item .more button {
  display: inline-block;
  padding: 20px 80px;
  border: 1px solid #000;
}

#movie .bg-video-wrap {
  float: none;
  clear: both;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 43.25%;
  padding-top: 25px;
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tabmenu nav {
  margin-bottom: 30px;
}

.tabmenu li,
.tabmenu .content div {
  cursor: pointer;
}

.tabmenu .content div {
  transition: 0.3s;
}

.tabmenu .content div:hover {
  transition: 0.5s ease;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);
}

.tabmenu li.active {
  border: 1px solid #ccc;
  border-bottom: none;
}

.tabmenu .content {
  display: none;
  opacity: 0;
  
  
  -webkit-animation: display-none-transition 1s ease;
  animation: display-none-transition 1s ease;
}

@keyframes display-none-transition {
  0% {
    display: none;
    opacity: 0;
  }
  
  1% {
    display: block;
  }
  
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes display-none-transition {
  0% {
    display: none;
    opacity: 0;
  }
  
  1% {
    display: block;
  }
  
  100% {
    opacity: 1;
  }
}

.content-section .active {
  display: flex;
  opacity: 1;
}

.content-section > div {
  width: 100%;
}

.content-section > div > div {
  justify-content: center;
  margin-right: 1%;
  width: 25%;
}

.content-section .tab-shoes {
  margin-right: 0;
}

.content-section > div > div:last-child {
  margin-right: 0;
} 

.content-section > div > div > img {
  width: 100%;
}

.tabmenu ul {
  display: flex;
  padding: 0;
  
}

.tabmenu li {
  margin-right: 1%;
  padding: 20px 0;
  justify-content: center;
  width: 25%;
  text-align: center;
  font-weight: 600;
  color: #d1d1d1;
  background-color: #fff;
  border: 1px solid #d1d1d1;
}

.tabmenu li:last-child {
  margin-right: 0;
}

.tabmenu li.active {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}



@media (max-width: 576px) {}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

/* 
@media (max-width: 1100px) {

} */